{
  "globals": {
    "__PATH_PREFIX__": true
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": ["airbnb", "airbnb/hooks", "prettier", "prettier/react"],
  "rules": {
    "import/prefer-default-export": "off",
    "no-nested-ternary": "off",
    "react-hooks/exhaustive-deps": "warn",
    "react-hooks/rules-of-hooks": "error",
    "react/destructuring-assignment": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-props-no-spreading": "off"
  }
}
