@charset "utf-8";
@import '../../node_modules/bulma/sass/utilities/initial-variables';

/* Redefine colors */
$blue: #1f5673;
$brown: #664c43;
$yellow: #f4d06f;
$black: #1a1f16;
$purple: #8d5a97;
$orange: #d5573b;
$grey: #d5dfe5;

/* Import Public Sans font */
@font-face {
  font-family: 'Public Sans';
  src: url('../fonts/PublicSans-Medium.otf');
}

/* Set font */
$family-sans-serif: 'Public Sans', sans-serif;
$family-primary: $family-sans-serif;

/* Set responsive breakpoints */
$tablet: 680px;
$desktop: 1200px;

@import '../../node_modules/bulma/bulma';

#title {
  background-color: $blue;
}

#about {
  background-color: $orange;
}

#projects {
  background-color: $brown;
}

#blog {
  background-color: $yellow;
}

#social {
  background-color: $black;
}

#contact {
  background-color: $grey;
}

/* Circular */
.is-rounded {
  border-radius: 100%;
}

/* Generic justify center class */
.is-horizontal-center {
  justify-content: center;
}

/* Generic 200x200 image size class */
.is-200x200 {
  height: 200px;
  width: 200px;
}

/* Navbar brand image size */
.navbar-item.image.is-64x64 {
  height: 72px;
  width: 78px;
}

/* Navbar burger centering */
.navbar-burger {
  height: auto;
}

/* Align tag columns */
.has-tags {
  flex-direction: column;
  justify-content: center;
}

/* Width of tags */
span.tag {
  align-self: center;
  width: min-content;
}

/* Spacing between navbar options text/icons */
span.icon {
  display: initial;
  margin-left: 8px;
}

/* Navbar burger dropdown menu borders */
.borders {
  border: 1px solid #fff;
  border-radius: 6px;
  margin: 0 auto;
  width: 99%;
}

/* Navbar item non-hover color */
.navbar-item {
  color: #fff;
}

/* Skill tag stars */
.tag-icon {
  color: $purple;
  margin-left: 4px;
}

/* Customize text sizing */
.card-footer-item {
  font-size: 0.9rem;
}
.title.is-3 {
  line-height: 0.9375;
}

/* Initial arrow bounce */
#scroll-to-work > i {
  animation-name: bounce;
  animation-duration: 1.5s;
  animation-delay: 3s;
}
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-25px);
  }
  60% {
    transform: translateY(-10px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-25px);
  }
  60% {
    transform: translateY(-10px);
  }
}

/* Hover grow animation */
.hvr-grow {
  backface-visibility: hidden;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  display: inline-block;
  -moz-osx-font-smoothing: grayscale;
  opacity: 0.8;
  transform: translateZ(0);
  transition-duration: 0.3s;
  transition-property: transform;
  vertical-align: middle;
}
.hvr-grow:hover {
  opacity: 1;
  transform: scale(1.15);
}

/* Scroll progress bar */
.scroll {
  background: linear-gradient(to right, #8d5a97 var(--scroll), transparent 0);
  background-repeat: no-repeat;
  height: 3px;
  position: fixed;
  width: 100%;
  z-index: 1;
}
