@charset "utf-8";
@import 'scss/colors.scss';

html,
body {
  background: $blue;
}

.triangle {
  -webkit-clip-path: polygon(50% 5%, 100% 50%, 50% 100%, 0 50%);
  clip-path: polygon(50% 5%, 100% 50%, 50% 100%, 0 50%);
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
}

#title {
  .triangle {
    background: linear-gradient(to right, $dark-blue, $blue);
  }
}

#contact {
  .triangle {
    background: linear-gradient(to right, $blue, $dark-blue);
  }
}

#about {
  .hero-body {
    background: $medium-blue;
    border-radius: 4px;
  }
}
