@charset "utf-8";

$blue: #1f5673;
$brown: #664c43;
$yellow: #f4d06f;
$black: #1a1f16;
$purple: #8d5a97;
$orange: #d5573b;
$grey: #6e7271;

html,
body {
  background-color: $blue;
}

.triangle {
  width: 100vw;
  height: 100vh;
  position: absolute;
}

#title {
  .triangle {
    clip-path: polygon(50% 100%, 2% 85%, 100% 0);
    background: $black;
    background: linear-gradient(90deg, $black 50%, $blue 100%);
  }
}

#about {
  .triangle {
    background: $blue;
    background: linear-gradient(90deg, $blue 0%, $orange 75%);
    clip-path: polygon(15% 50%, 95% 15%, 95% 90%);
  }
}

#projects {
  .triangle {
    background: $blue;
    background: linear-gradient(90deg, $blue 0%, $brown 50%);
    clip-path: polygon(96% 100%, 99% 62%, 0 0);
  }
}

#blog {
  .triangle {
    background: $yellow;
    background: linear-gradient(90deg, $yellow 25%, $blue 100%);
    clip-path: polygon(5% 88%, 15% 21%, 81% 67%);
  }
}

#social {
  .triangle {
    background: $black;
    background: linear-gradient(90deg, $black 50%, $blue 100%);
    clip-path: polygon(0 14%, 78% 86%, 100% 27%);
  }
}

#contact {
  .triangle {
    background: $blue;
    background: linear-gradient(0deg, $blue 0%, $grey 50%);
    clip-path: polygon(50% 95%, 5% 15%, 95% 15%);
  }
}
