@charset "utf-8";
@import 'scss/colors.scss';

html,
body {
  background-color: $blue;
}

.triangle {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
}

#title {
  .triangle {
    background: linear-gradient(to right, $dark-blue, $blue);
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 65%, 50% 100%, 0 65%, 0 0);
    clip-path: polygon(50% 0%, 100% 0, 100% 65%, 50% 100%, 0 65%, 0 0);
  }
}

#about {
  .hero-body {
    background: $medium-blue;
    border-radius: 4px;
  }
}

#contact {
  background: linear-gradient(to right, $blue, $dark-blue);
  .triangle {
    background: $blue;
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 35%, 50% 0, 0 35%, 0 0);
    clip-path: polygon(50% 0%, 100% 0, 100% 35%, 50% 0, 0 35%, 0 0);
    height: calc(100% - 100px);
  }
}

.footer {
  background: linear-gradient(to right, $blue, $dark-blue);
}
