@charset "utf-8";
@import 'scss/animation.scss';
@import 'scss/background.scss';
@import 'scss/colors.scss';
@import 'scss/code.scss';
@import 'bulma/sass/utilities/initial-variables';

/* Import Public Sans font */
@font-face {
  font-family: 'Public Sans';
  src: url('../assets/fonts/PublicSans-Medium.otf');
}

/* Set font */
$family-sans-serif: 'Public Sans', sans-serif;
$family-primary: $family-sans-serif;

@import 'bulma/bulma';

.hero-body {
  margin-left: 5px;
  margin-right: 5px;
  z-index: 2;
  @media (min-width: $tablet) {
    margin-left: 100px;
    margin-right: 100px;
  }
}

.navbar {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: space-between;
  &.is-fixed-top {
    position: absolute;
    @media (min-width: $tablet) {
      position: fixed;
    }
  }
}

.navbar > .level {
  display: flex;
  margin-bottom: 0;
}

.bio {
  margin: 0 auto;
  width: 100%;
  @media (min-width: $tablet) {
    width: 80%;
  }
}

.level-item .title {
  margin-bottom: 1.5rem;
}

#form-column {
  padding-left: 0;
  padding-right: 0;
  @media (min-width: $tablet) {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}

.container form {
  max-width: 750px;
}

.footer {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  left: 0;
  padding: 0;
  position: absolute;
  right: 0;
  z-index: 30;
}

.is-transparent {
  background: transparent;
}

.is-fullwidth {
  width: 100%;
}

.is-rounded {
  border-radius: 100%;
}

.is-centered {
  margin: 0 auto;
}

.is-hcentered {
  justify-content: center;
}

.is-200x200 {
  height: 200px;
  width: 200px;
}

.card {
  border-radius: 4px;
  height: auto;
  margin: 15px;
  min-width: 18.75rem;
  @media (min-width: $tablet) {
    min-width: 350px;
  }
}

.card-footer {
  overflow: auto;
}

.tags {
  flex-direction: row;
  @media (min-width: $tablet) {
    flex-direction: column;
  }
}

.has-tags {
  flex-direction: column;
  justify-content: center;
}

span.tag {
  align-self: center;
  width: min-content;
}

.tag-icon {
  color: $purple;
  margin-left: 4px;
}

.project-icon {
  font-size: 2em;
  color: $brown;
  &:hover {
    opacity: 0.7;
  }
}

.social-icon {
  font-size: 2em;
  color: $black;
  &:hover {
    opacity: 0.7;
  }
}
