/*
 * === Main style ===
 */

/* Section style */
section {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

/* Icon list flex */
ul {
  display: flex;
}

/* Icon size */
a {
  font-size: calc(25px + .7vw);
  margin: 30px;
}

/* Icon non-hover style */
i {
  color: #fff;
  opacity: .8;
}

/* Icon hover style */
i:hover {
  opacity: 1;
}

/* Hover grow animation */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}

/* JavaScript-powered scroll progress bar style */
.progress {
  background: linear-gradient(to right, #88498f var(--scroll), transparent 0);
  background-repeat: no-repeat;
  height: 7px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

/* bdov.dev section */
.title {
  background-color: #0b3c5d;
}

/* Professional section */
.professional {
  background-color: #503b31;
}

/* Writing section */
.writing {
  background-color: #d9b310;
}

/* Social section */
.social {
  background-color: #1d2731;
}

/* H1 style */
h1 {
  color: #fff;
  font-family: 'Libre Franklin', sans-serif;
  font-size: calc(65px + 10vw);
  font-weight: bold;
}
